{% extends "base.html" %}

{% block content %}
    <h1 class="tabb">Register Form</h1>
    <form class="form-group" action="" method="post" novalidate enctype="multipart/form-data">
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {% if field.type != "SubmitField" %}
                    {{ field.label() }}
                    <br>
                    {{ field(class="form-control") }}
                    {% for error in field.errors %}
                        <div class="error alert-danger">{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {{ field(class="btn btn-primary") }}
                    {% for error in field.errors %}
                        <div class="error alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <br>
            </div>
        {% endfor %}
        <p class="alert-danger">{{ message }}</p>
    </form>
{% endblock %}